PORT=5000
MONGO_URI=mongodb+srv://luckypal5002_db_user:uyDCJv9HrRIc4F0J@cluster0.6r9xp1c.mongodb.net/?appName=Cluster0
JWT_SECRET=c58b0909fde451be05481d6602dd20f1
JWT_EXPIRE=30d
GOOGLE_CLIENT_ID=619614904006-i8j4jo1sst7v8k1t8bmdqve2g2n9pq4k.apps.googleusercontent.com
NODE_ENV=development
